{% extends "admin/base_site.html" %}
{% load admin_static admin_modify %}
{% load admin_urls %}
{% load i18n %}
{% load static %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
<script type="text/javascript">
jQuery = jQuery||django.jQuery;
</script>
<script type="text/javascript" src="{% static "uploader/js/jquery-ui-1.8.21.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "uploader/jgrowl/jquery.jgrowl.min.js" %}"></script>
<script type="text/javascript" src="{% static "uploader/fancybox/jquery.fancybox.pack.js?v=2.0.6" %}"></script>
<script type="text/javascript" src="{% static "uploader/jcrop/js/jquery.Jcrop.min.js" %}"></script>
<script type="text/javascript" src="{% static "uploader/js/jquery.form.js?v=3.0.9" %}"></script>
<script type="text/javascript" src="{% static "uploader/js/uploader.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    var flist = $('.frame_list');

    $('.frame img', flist).click(openCropBox);

    // function to init/change position of images
    var ordering = function(o) {
        $('.frame', o).each(function(index){
            $('input[name$=position]', this).val(index);
        });
    }

    // initialize positions
    ordering($('#image_list'));

    var frames_count = function() {
        var container = $('#image_list');
        var nextIndex = $('input[name$=position]', container).length;
        return nextIndex;
    }
    // dropzone activation
    window.html5uploader = window.html5uploader || new uploader(
        'upload-box', 'upload-status-text', '{% url 'uploader:image_upload' %}',
        function(response) {
            var container = $('#image_list');
            container.append(response);
            $('.frame img', container).click(openCropBox);
            ordering(container);
            updateManagementData('images_set');
        }, frames_count, '{{ tag }}');

    $("#image_list").sortable({
        cursor: 'move',
        delay: 200,
        distance: 20,
        opacity: 0.6,
        update: function(event, ui) {
            ordering(this);
        }
    }).disableSelection();
});
</script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" href="{% static "uploader/jgrowl/jquery.jgrowl.css" %}" type="text/css" media="screen,projection"/>
<link rel="stylesheet" href="{% static "uploader/fancybox/jquery.fancybox.css?v=2.0.6" %}" type="text/css" media="screen,projection"/>
<link rel="stylesheet" href="{% static "uploader/jcrop/css/jquery.Jcrop.min.css" %}" type="text/css" media="screen,projection"/>
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}
    <fieldset class="module">
        <h2>{% trans "Images" %}</h2>

        {{ image_fs.management_form }}

        <div style="width: 30%; float: left;">
            {% if dropzone_visible %}
                {% include "uploader/drop_zone.html" %}
                {% comment %}
                <div style="text-align: right; padding: 0 1em 0.5em 0;">
                    <a href="{% url 'uploader:library' %}">{% trans "Open the images library" %}</a>
                </div>
                {% endcomment %}
                <div>
                    <h3>Инструкция</h3>
                    <p>
                        Для загрузки изображений их следует перетащить мышкой на
                        дроп зону. Можно перетаскивать сразу пачку изображений.
                        По мере их загрузки, миниатюры изображений будут
                        отображаться справа от дроп зоны. Загруженное изображение
                        автоматически конвертируется в формат PNG. После загрузки
                        изображений следует сохранить проект.
                    </p>
                    <p>
                        Миниатюры изображений можно сортировать с помощью их
                        перетаскивания мышью внутри списка. Порядок миниатюр
                        изображений влияет порядок их отображения на карусели.
                        Карусель начинается с первого изображения в списке.
                    </p>
                    <p>
                        При нажатии на миниатюру происходит открытие диалога, в
                        котором можно вырезать часть изображения или изменить его
                        состояние. При вырезании части изображения происходит
                        ресайз оставшейся части до 960x640 пикселей.
                    </p>
                    <p>
                        Три элемента с "галками" отвечают за состояние проекта.
                        Первый: отображение изображения неавторизованным
                        пользователям. Второй: отображение изображения авторизованным
                        пользователям. Третий: данное изображение используется как
                        тизер. Следует отметить, что тизер может устанавливаться только на видимое неавторизованным пользователям изображение
                        и что тизер может быть только один на весь проект (это
                        обеспечивается автоматически). После выставления галок, для
                        их отображения рекомендуется сохранить проект.
                    </p>
                    <p>
                        Любое изображение можно удалить с помощью кнопки на диалоге.
                        При этом удаляется как само изображение, так и все её
                        закэшированные миниатюры.
                    </p>
                </div>
            {% else %}
                <p>{% trans "Save this object to make DropZone visible!" %}</p>
            {% endif %}
        </div>

        <div style="margin-left: 31%;">
            {% include "uploader/frame_list.html" with id="image_list" prefix="images_set" inline="true" list=image_list title="(hide)" %}
        </div>
        <div style="clear: both;"></div>
    </fieldset>
{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

{% include "uploader/form_control.html" with form=uploader_form %}
{% endblock %}
