{% load i18n %}
{% load thumbnail %}
{% spaceless %}
<div class="frame">
    {% with name=obj.file_name  project=obj.project.title|default:"Unlinked" size=obj.image.size|filesizeformat pic=obj.image|thumbnail_url:'uploader_frame' %}
    <div class="header" title="{{ name }}">{{ name }}</div>
    <div class="footer">
        <div class="relation" title="{{ project }}">{{ project }}</div>
        <div class="size" title="{{ size }}">{{ size }}</div>
        <div class="clear-left"></div>
    </div>
    <img class="image" src="{{ pic }}" title="{% trans "Click to review" %}"/>
    {% endwith %}
</div>
{% endspaceless %}
