{% load i18n %}
{% load thumbnail %}
{% spaceless %}
<div class="frame">
    {% with name=obj.file_name  project=obj.project.title|default:"Unlinked" size=obj.image.size|filesizeformat pic=obj.image|thumbnail_url:'uploader_frame' %}
    <div class="header" title="{{ name }}">{{ name }}</div>
    <div class="footer">
        <div class="relation" title="{{ project }}">{{ project }}</div>
        <div class="size" title="{{ size }}">{{ size }}</div>
        <div class="clear-left"></div>
    </div>
    <img class="image" src="{{ pic }}" title="{% trans "Click to review" %}"
         onclick="
            $.fancybox.open(
                [{href: '{{ obj.image.url }}'}],
                {padding: 2, afterShow: function() {
                    $('.fancybox-image').Jcrop({
                        onSelect: function(o) {
                            console.log(o.x, o.y, o.w, o.h);
                        },
                        onChange: function(o) {
                            console.log(o.x, o.y, o.w, o.h);
                        }
                    });
                }}
            );
         "/>
    {% endwith %}
</div>
{% endspaceless %}
