{% load i18n %}
{% spaceless %}
<div class="frame_list">
    {% if title != "(hide)" %}<h2>{{ title }}</h2>{% endif %}
    <div id="{{ id }}" class="container">
        {% for frame in list %}
            {% if inline == "true" %}
                {% include "uploader/frame_inline.html" with obj=frame prefix=prefix counter=forloop.counter0 %}
            {% else %}
                {% include "uploader/frame.html" with obj=frame %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="clear-left"></div>
</div>
{% endspaceless %}
