{% extends "admin/base_site.html" %}

{% load adminmedia %}
{% load i18n %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "uploader/js/jquery-1.7.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "uploader/jgrowl/jquery.jgrowl.min.js" %}"></script>
<script type="text/javascript" src="{% static "uploader/jscrollpane/js/jquery.mousewheel.js" %}"></script>
<script type="text/javascript" src="{% static "uploader/jscrollpane/js/jScrollPane.js" %}"></script>
<script type="text/javascript" src="{% static "uploader/fancybox/jquery.fancybox.pack.js?v=2.0.6" %}"></script>
<script type="text/javascript" src="{% static "uploader/jcrop/js/jquery.Jcrop.min.js" %}"></script>
<script type="text/javascript" src="{% static "uploader/js/jquery.form.js?v=3.0.9" %}"></script>
<script type="text/javascript" src="{% static "uploader/js/uploader.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    var flist = $('.frame_list');

    $('.frame img', flist).click(openCropBox);

    window.html5uploader = window.html5uploader || new uploader(
        'upload-box', 'upload-status-text', '{% url uploader:image_upload %}',
        function(response) {
            $('#queue_list .jspPane').prepend(response);
            $('#queue_list .frame img').click(openCropBox);
        });

    $('.container', flist).jScrollPane(
        {
            scrollbarOnLeft: true,
            animateTo: true,
            animateInterval: 50,
            animateStep: 5,
            scrollbarWidth: 10,
            verticalDragMinHeight: 100,
            verticalDragMaxHeight: 100,
            scrollbarMargin: 0
        }
    );
});
</script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "admin_tools/css/dashboard.css" %}" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{% static "uploader/css/style.css" %}" type="text/css" media="screen,projection"/>
<link rel="stylesheet" href="{% static "uploader/jgrowl/jquery.jgrowl.css" %}" type="text/css" media="screen,projection"/>
<link rel="stylesheet" href="{% static "uploader/fancybox/jquery.fancybox.css?v=2.0.6" %}" type="text/css" media="screen,projection"/>
<link rel="stylesheet" href="{% static "uploader/css/jscroll.css" %}" type="text/css" media="screen,projection"/>
<link rel="stylesheet" href="{% static "uploader/jcrop/css/jquery.Jcrop.min.css" %}" type="text/css" media="screen,projection"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url admin:app_list "uploader" %}">{% trans "Uploader" context "breadcrumbs" %}</a> &rsaquo;
    {% trans "Library" context "breadcrumbs" %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div id="uploader-left-column">
        <div class="dashboard-module patch-margins">
            <h2>{% trans "Drop Zone" %}</h2>
            {% include "uploader/drop_zone.html" %}
        </div>
        <div class="dashboard-module patch-margins">
            {% include "uploader/frame_list.html" with id="queue_list" list=queue_list title=_("Queued Images") %}
        </div>
    </div>

    <div id="uploader-right-column">
        <div class="dashboard-module patch-margins">
            {% include "uploader/frame_list.html" with id="image_list" list=image_list title=_("Image Library") %}
        </div>
    </div>
</div>

{% include "uploader/form_control.html" %}
{% endblock %}

{% block sidebar %}
<!-- sidebar -->
{% endblock %}
