<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <meta name="google-site-verification" content="Q0p1RX8gjREQ7vME9qAIjGxzGYh8fL4BheiYUCIKd7c" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Студия Андрея Гаврилова</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/additional_new.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/global_new.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/stats_new.css" %}" />

    {% include "frontend/proxima-nova-regular-font.html" %}

    <script type="text/javascript" src="{% static "js/jquery-1.6.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tools.scrollable.min-1.0.5.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tools.tooltip.min-1.1.2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-cycle.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.8.13.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tools.tabs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.flow.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jscalendar/jscal2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jscalendar/lang/en.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/jscal2.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/border-radius.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/steel/steel.css" %}"/>

    <script type="text/javascript" src="{% static "js/finance_functions.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/autocomplete.css" %}"/>
    <script type="text/javascript" src="{% static "js/jquery.autocomplete-min.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/imgareaselect/imgareaselect-default.css" %}"/>
    <script type="text/javascript" src="{% static "js/jquery.imgareaselect.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/right-click-menu.css" %}"/>
    <script type="text/javascript" src="{% static "js/right-click-menu.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.hoverIntent.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.totemticker.js" %}"></script>

    {% block extra_styles %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>

<body class="ptserif body-01">
    <div id="everything">
        <div id="v22-topnav-wrap" class="wide-wrap">
            <div class="col960">
                <div id="v22-top-nav-02" class="navstyle-home-2">
                    {% if request.session.django_language == "en" %}
                    <a href="{% url frontend:lang "ru" %}" id="v22-lang">Русский</a>
                    {% else %}
                    <a href="{% url frontend:lang "en" %}" id="v22-lang">English</a>
                    {% endif %}
                    <a id="v22-mail" href="mailto:me@andrgavr.com">me@andrgavr.com</a>
                </div>
                <div id="v22-top-nav-03">
                    {% include "frontend/inc/widget_auth.html" %}
                    {% include "frontend/inc/widget_search.html" %}
                </div>
            </div>
        </div>

    <script type="text/javascript">
    <!--

    // wrap as a jQuery plugin and pass jQuery in to our anoymous function
(function($) {

    $.fn.crossfade = function(options, endDelay) {
        var options = isNaN(options)
            ? options
            : {
                startDelay : options,
                endDelay   : (typeof endDelay === 'undefined')
                    ? options
                    : endDelay
              };

        var options = $.extend({
            hoverIntent    : false,
            startDelay     : 500, // amount of time it takes to fade from the first image to the second image (in milliseconds)
            endDelay       : 1000, // amount of time it takes to fade from the second image back to the first image (in milliseconds)
            startCallback  : _blank, // function to call when the crossfading begins
            endCallback    : _blank, // function to call when the second image is transitioning back to the first image
            startCondition : _blank, // condition to evaluate/return true if the crossfading is to start
            endCondition   : _blank, // condition to evaluate/return true if the crossfading is to complete
            useAttr        : 'style', // the attribute to pull the second image source path from
            regex          : 'background(-image)?:.*url\\((.+)\\)' // the regex used to find the value/src of the second image
        }, options);

        // filter out all objects that don't have an attribute to read the alternate image from
        // using filter('[style]') doesn't work
        $(this).filter(function() {
            return $(this).attr(options.useAttr);
        }).each(function() {
            var
                $$      = $(this),
                img     = $('<img />'),
                regex   = new RegExp(options.regex, 'i'),
                matches = $$.attr(options.useAttr).match(regex);

            if (!matches) {
                return;
            }

            var src = matches[2].replace(/'|"/g, '');

            // replace the part of the attribute that we used with nothing and apply necessary styles to the original image
            $$.attr(options.useAttr, $$.attr(options.useAttr).replace(regex, '')).css({
                position : 'relative',
                zIndex   : 10001
            });

            // create the crossfading image
            img.attr('src', src).css({
                position : 'absolute',
                zIndex   : 10000,
            /*  opacity  : 1 */
                opacity  : 1
            }).insertBefore($$);

            // if jquery.hoverIntent is available, use it
            if (options.hoverIntent && $.isFunction($.fn.hoverIntent)) {
                $$.hoverIntent($.extend(options.hoverIntent, {
                    over : _over,
                    out  : _out
                }));
            // otherwise use the regular hover event
            } else {
                $$.hover(_over, _out);
            }



            /**
             * Function that is called on the hover (over) event
             */
            function _over() {
                if (options.startCondition($$)) {
                    $$.stop().fadeTo(options.startDelay, 0);
                    /*img.fadeTo(options.startDelay, 1);*/
                    /*img.stop().fadeTo(options.startDelay, 1);*/
                    options.startCallback($$, img);
                }
            }

            /**
             * Function that is called on the hover (out) event
             */
            function _out() {
                if (options.endCondition($$)) {
                    $$.stop().fadeTo(options.endDelay, 1);
                    /*img.stop().fadeTo(options.endDelay, 0);*/
                    options.endCallback($$, img);
                }
            }
        });



        /**
         * A function that simply returns true so I didn't have to type: function() { return true; }, four times above.
         */
        function _blank() {
            return true;
        }
    };

})(jQuery);

    // note that this uses the .bind('load') on the window object, rather than $(document).ready()
    // because .ready() fires before the images have loaded, but we need to fire *after* because
    // our code relies on the dimensions of the images already in place.
    $(window).bind('load', function () {
        $('img.fade').crossfade();
    });

    //-->
</script>

{% block main_content %}{% endblock %}

<script type="text/javascript">
// What is $(document).ready ? See: http://flowplayer.org/tools/using.html#document_ready
$(document).ready(function() {
    $('#ps-1').ticker({
        row_height  :   '60px',
        max_items   :   1,
        speed       :   400,
        interval    :   1000,
        direction   :   'down',
        hob         :   '#v22-trades-work'
    });

    $('#ps-2').ticker({
        row_height  :   '60px',
        max_items   :   1,
        speed       :   400,
        interval    :   1000,
        direction   :   'down',
        hob         :   '#v22-trades-shop'
    });

    $('#ps-3').ticker({
        row_height  :   '60px',
        max_items   :   1,
        speed       :   400,
        interval    :   1000,
        direction   :   'down',
        hob         :   '#v22-trades-entr'
    });

    $('#ps-4').ticker({
        row_height  :   '60px',
        max_items   :   1,
        speed       :   400,
        interval    :   1000,
        direction   :   'down',
        hob         :   '#v22-trades-home'
    });


    /* Scope Helper */

    // previous id store
    var prev_id
    // previous id reset
    prev_id = "";

    // hide all helpers elements after page load just to be sure
    $('.v22-tool-wrap').hide();

    // click event for scope button
    $('.tool-slider-wrap').click(function() {

                var  current_id
                // get current button id
                current_id = $(this).attr("id");
                // compare new id and previous id
                if (current_id != prev_id) {
                    // if not the same - hide previous helper and show new one
                    $('#v22-tools-help-wrap').find('[data-type="' + prev_id + '"]').hide();
                    $('#v22-tools-help-wrap').find('[data-type="' + current_id + '"]').slideDown();
                    // pass current id
                    prev_id = current_id;
                } else {
                    // if same - just hide the helper
                    $('#v22-tools-help-wrap').find('[data-type="' + prev_id + '"]').slideUp();
                    // reset the id
                    prev_id = "";
                }
    });

    // click event for helper close button
    $('.v22-tool-close').click(function() {
        $(this).parent().slideUp();
        prev_id = "";
    });

    // project popup functionality
    // creating function for 1 sec delay before showing the popup
    $.fn.wait = function(delay){
    if(typeof delay==="undefined") delay = 1000;
    return this.animate({"void":0}, delay);
    }

    // setting up hoverIntent to eliminate random popups
    $(".project-container").hoverIntent({
        over: show_det,
        timeout: 500,
        out: hide_det
                                });

    //function show_det(){ $(this).children(".v22-project-pum-wrap").wait(1000).fadeIn();}
    function show_det(){ $(this).children(".v22-project-pum-wrap").fadeIn();}
    function hide_det(){ $(this).children(".v22-project-pum-wrap").fadeOut('fast');}
});
</script>
</div>

<div class="footer ptserif">
    <div id="footer-container">
        <div id="v22-team-wrap">
            <h1>
                <div class="footer-header-01 nova">О КОМАНДЕ</div>
            </h1>
            <div class="about-wrap">
                <ul class="about">
                    <li>
                        <a href="/files/download/Presentation - Screen 2012 RU.pdf">
                            <p>Портфолио 2012</p><br />
                            <p><small>Загрузите наше портфолио в формате PDF</small></p>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>

        <div id="v22-contacts-wrap">
            <h1>
                <div class="footer-header-02 nova">Контакты</div>
            </h1>
            <div class="ft-contacts">
                <p>ООО &laquo;Меандр&raquo;</p>
                <p>Москва, ул. Верхняя Масловка, д.9</p>
                <p>8 (916) 504-0965</p>
                <p><a href="mailto:me@andrgavr.com">me@andrgavr.com</a></p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="copyrights">
            &copy;1998-2012. Андрей Гаврилов. Все права защищены.<br / >
            &copy;2011-2012. ООО "Меандр". Все права защищены.<br / >
        &copy; Mark Simonson, 2005. All rights reserved. Webfont Proxima Nova Bold.
        </div>
    </div>
</div>
</body>
</html>
