{% extends "frontend/base.html" %}
{% load staticfiles %}
{% block main_content %}
<div class="wide-wrap wide-bg-02">
    <div class="col960">
        {% include "frontend/inc/head_title.html" %}
        {% include "frontend/inc/teaser.html" %}
        {% include "frontend/inc/recent-projects.html" %}
    </div>
</div>

<div id="wide-wrap" class="wide-bg-03">
    <div class="col960">
        {% include "frontend/inc/widget_stat.html" %}
    </div>

    {% include "frontend/inc/directions.html" %}
    {% include "frontend/inc/solutions.html" %}
    {% include "frontend/inc/projects.html" %}
    {% include "frontend/inc/clients.html" %}
    {% include "frontend/inc/recommendations.html" %}

</div>
{% endblock %}
