{% extends "frontend/base.html" %}
{% load staticfiles i18n %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static "css/projects.css" %}" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static "js/jquery.tools.scrollable.min.js" %}"></script>
{% endblock %}

{% block main_content %}
<div class="wide-wrap wide-bg-02">
    <div class="col960">
        {% include "frontend/inc/head_title.html" %}

        {% if user.is_authenticated %}
        <div id="v22-adminmenu-section-wrap">
            <h1>
                <div class="section-am-menu">
                    |&nbsp;<a href="{% url frontend:index %}">{% trans "Main Page" %}</a>
                    |&nbsp;<a href="{% url admin:storage_project_change project.pk %}">{% trans "Edit Project" %}</a>
                    &nbsp;|
                </div>
            </h1>
        </div>
        {% endif %}
    </div>
</div>

<div id="sky-wrap" class="wide-bg-04">
    <div class="col960 skybg">
        {% include "frontend/inc/project_nav.html" %}
        {% include "frontend/inc/rotator_huge.html" %}
        {% include "frontend/inc/project_desc.html" %}
        {% include "frontend/inc/solutions.html" %}
        {% include "frontend/inc/project_stat.html" %}

    </div>
</div>
{% endblock %}
