<!-- START OF SOLUTIONS-->
<div id="v22-tools-wrap">
    <h1>
        <div class="section-tools-name nova">Виды работ</div>
    </h1>
    <div id="v22-tools-cont">
        <div id="tools-nav-wrap">
            <div id="tools-1-0" class="tool-slider-wrap">
                <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Исходные Данные</div>
                </div>
                <div id="tools-2-0" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Планировка</div>
                </div>
                <div id="tools-2-1" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Арт-Дирекшн</div>
                </div>
                <div id="tools-2-2" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Визуализации</div>
                </div>
                <div id="tools-2-3" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Концепция</div>
                </div>
                <div id="tools-2-4" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Архбрендинг</div>
                </div>
                <div id="tools-3-0" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Тендерный пакет</div>
                </div>
                <div id="tools-3-1" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Подбор материалов</div>
                </div>
                <div id="tools-3-2" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Расчет стоимости</div>
                </div>
                <div id="tools-4-0" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Рабочий проект</div>
                </div>
                <div id="tools-4-1" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Проекты систем</div>
                </div>
                <div id="tools-5-0" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Согласуемая Часть</div>
                </div>
                <div id="tools-5-2" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Согласования</div>
                </div>
                <div id="tools-6-0" class="tool-slider-wrap">
                    <div class="tool-slider-button"></div>
                    <div class="tool-slider-text nova">Авторский надзор</div>
                </div>
            </div>

            <div id="v22-tools-help-wrap">
                <div class="v22-tool-wrap" data-type="tools-1-0" itemId="1">
                    <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>1&#8230;3<br/>дня</p></div></div></div>
                    <div class="v22-tool-head nova">Сбор исходных данных</div>
                    <div class="v22-tool-desc">Мы производим осмотр помещения, делаем обмеры, собираем данные об инженерных системах. Описываем требования в виде технических заданий.</div>
                     <div class="v22-tool-close"></div>
                 </div>

                         <div class="v22-tool-wrap" data-type="tools-2-0" itemId="2">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>3+<br/>дней</p></div></div></div>
                            <div class="v22-tool-head nova">Планировка помещений</div>
                            <div class="v22-tool-desc">Мы производим планировку помещений, размещаем сотрудников и оборудование, предоставляем основные строительные объемы.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-2-1" itemId="3">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>сколько<br/>нужно</p></div></div></div>
                            <div class="v22-tool-head nova">Арт-дирекшн</div>
                            <div class="v22-tool-desc">Мы назначаем на проект арт-директора, который контролирует целостность художественного замысла при сохранении бюджета. Эта работа имеет смысл только на проектах со сложной творческой задачей.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-2-2" itemId="4">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>3+<br/>дня</p></div></div></div>
                            <div class="v22-tool-head nova">Визуализации</div>
                            <div class="v22-tool-desc">Мы делаем изображения фотографического качества, трехмерные панорамы и анимации, чтобы помочь вам представить будущее пространство.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-2-3" itemId="5">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>5+<br/>дней</p></div></div></div>
                            <div class="v22-tool-head nova">Концепция</div>
                            <div class="v22-tool-desc">Мы помогаем выбрать стиль и адаптируем его к помещению, разработываем характерные элементы.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-2-4" itemId="6">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>сколько<br/>нужно</p></div></div></div>
                            <div class="v22-tool-head nova">Архитектурный брендинг</div>
                            <div class="v22-tool-desc">Мы разработываем правила оформления интерьеров. Имеет смысл для типовых пространств - сетей магазинов, отделений банков, ресторанов.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-3-0" itemId="7">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>5+<br/>дней</p></div></div></div>
                            <div class="v22-tool-head nova">Тендерный пакет</div>
                            <div class="v22-tool-desc">Мы подготавливаем пакет чертежей и спецификаций, по которым можно примерно сосчитать стоимость строительных работ и выбрать подрядчика. Этого пакета обычно недостаточно для согласований и строительных работ.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-3-1" itemId="8">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>2+<br/>дня</p></div></div></div>
                            <div class="v22-tool-head nova">Подбор материалов и поставщиков</div>
                            <div class="v22-tool-desc">Мы выбраем материлы и изделия в соответствии с вашим бюджетом и находим поставщиков, чтобы знать сроки поставки.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-3-2" itemId="9">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>5+<br/>дней</p></div></div></div>
                            <div class="v22-tool-head nova">Расчет стоимости отделки</div>
                            <div class="v22-tool-desc">Мы расчитываем стоимость материалов и изделий по нашим специфкациям. Наши расчеты не включают работы подрядчика, но позволяют оценить бюджет и внести изменения в проект.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-4-0" itemId="10">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>1...3<br/>недели</p></div></div></div>
                            <div class="v22-tool-head nova">Полный Рабочий Проект</div>
                            <div class="v22-tool-desc">Мы подготавливаем полный комплект рабочей документации. Включает специфкации и деталировочные чертежи. Имея полный комплект, можно точно сосчитать стоимость и сильно снизить непредвиденные затраты.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-4-1" itemId="11">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>1...3<br/>недели</p></div></div></div>
                            <div class="v22-tool-head nova">Проекты систем</div>
                            <div class="v22-tool-desc">Мы разрабатываем рабочую документацию систем вентиляции, кондиционирования и электрики. Наши партнеры разрабатывают проекты слаботочных и противопожарных систем.</div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-5-0" itemId="12">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>1+<br/>неделя</p></div></div></div>
                            <div class="v22-tool-head nova">Согласуемая Часть Проекта</div>
                            <div class="v22-tool-desc">Мы подготовливаем рабочую документацию в минимальном объеме, предусмотренном нормами для согласований с Владельцем и Инстанциями. Этой документации обычно недостаточно для строительства. </div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-5-2" itemId="13">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>5&#8230;7<br/>месяцев</p></div></div></div>
                            <div class="v22-tool-head nova">Согласования  с Инстанциями</div>
                            <div class="v22-tool-desc">Мы защищаем наши проекты перед Владельцем и согласовываем от вашего лица перепланировку, реконструкцию или капитальный ремонт с официальными инстанциями. </div>
                             <div class="v22-tool-close"></div>

                         </div>

                         <div class="v22-tool-wrap" data-type="tools-6-0" itemId="14">

                            <div class="v22-tool-head-dur nova"><div class="u988"><div class="u989"><p>сколько<br/>нужно</p></div></div></div>
                            <div class="v22-tool-head nova">Надзор за строительством</div>
                            <div class="v22-tool-desc">Мы защищаем интересы заказчика -  контролируем соблюдение проектных решений и технологий строительства, правильность используемых материалов; принимаем участие в освидетельствовании скрытых работ.</div>
                             <div class="v22-tool-close"></div>

                         </div>


                        </div>

                    </div>


                </div>

                <!-- END OF SOLUTIONS-->
