{% load i18n %}
<!-- START OF CLIENTS -->
{% spaceless %}
<div id="v22-clients-wrap">
    <h1>
        <div class="v22-clients-name nova">{% trans "Customers" context "Block on main page"%}</div>
    </h1>
    <div id="clientlogos-wrap">
        <ul class="clientlogos">
            {% for item in clients|slice:":18" %}
                {% if item.logo %}
            <li>
                {% if item.url %}
                <a href="{{ item.url }}" target="_blank">
                    <img src="{{ item.logo.url }}" />
                </a>
                {% elif item.last_public_project %}
                <a href="{{ item.last_public_project }}" target="_blank">
                    <img src="{{ item.logo.url }}" />
                </a>
                {% else %}
                    <img src="{{ item.logo.url }}" />
                {% endif %}
            </li>
                {% endif %}
            {% endfor %}
            <div class="clear"></div>
        </ul>
    </div>
</div>
{% endspaceless %}
<!-- END OF CLIENTS -->
