{% load i18n %}
<!-- START OF CLIENTS -->
<div id="v22-clients-wrap">
    <h1>
        <div class="v22-clients-name nova">{% trans "Customers" context "Block on main page"%}</div>
    </h1>

    <div id="clientlogos-wrap">
        <ul class="clientlogos">
            {% for item in clients %}
                {% if item.logo %}
            <li>
                <a href="{{ item.url }}" target="_blank">
                    <img src="{{ item.logo.url }}" />
                </a>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- END OF CLIENTS -->
