{% load staticfiles i18n chunks %}
<!-- START OF DIRECTIONS -->
<div id="v22-trades">
    <div id="v22-trades-work">
        <img src="{% static "img/site/work-inset-64.png" %}" title="{% trans "Office Spaces" %}" width="64" height="64"  />
        <div class="v22-trades-head nova">{% chunk "space_office_title" %}</div>
        <div class="v22-trades-desc">{% chunk "space_office_desc" %}</div>

        <ul id="ps-1" class="v23-trades-stats nova">
            <li class="v23-trades-stats-perc">{{ dirs.office.percent }} %</li>
            <li class="v23-trades-stats-count">{{ dirs.office.count }}<br/>{% trans "projects" %}</li>
            <li class="v23-trades-stats-area">{{ dirs.office.meters|floatformat:-2 }}<br/>{% trans "sq.m." %}</li>
        </ul>
    </div>

    <div id="v22-trades-shop">
        <img src="{% static "img/site/shop-inset-64.png" %}" title="{% trans "Retail Spaces" %}" width="64" height="64"  />

        <div class="v22-trades-head nova">{% chunk "space_retail_title" %}</div>
        <div class="v22-trades-desc">{% chunk "space_retail_desc" %}</div>

        <ul id="ps-2" class="v23-trades-stats nova">
            <li class="v23-trades-stats-perc">{{ dirs.flat.percent }} %</li>
            <li class="v23-trades-stats-count">{{ dirs.flat.count }} <br/>{% trans "projects" %}</li>
            <li class="v23-trades-stats-area">{{ dirs.flat.meters|floatformat:-2 }}<br/>{% trans "sq.m." %}</li>
        </ul>
    </div>

    <div id="v22-trades-entr">
        <img src="{% static "img/site/entertainment-inset-64.png" %}" title="{% trans "Entertainment Spaces" %}" width="64" height="64"  />
        <div class="v22-trades-head nova">{% chunk "space_ent_title" %}</div>
        <div class="v22-trades-desc">{% chunk "space_ent_desc" %}</div>

        <ul id="ps-3" class="v23-trades-stats nova">
            <li class="v23-trades-stats-perc">{{ dirs.shop.percent }} %</li>
            <li class="v23-trades-stats-count">{{ dirs.shop.count }}<br/>{% trans "projects" %}</li>
            <li class="v23-trades-stats-area">{{ dirs.shop.meters|floatformat:-2 }}<br/>{% trans "sq.m." %}</li>
        </ul>
    </div>

    <div id="v22-trades-home">
        <img src="{% static "img/site/home-inset-64.png" %}" title="{% trans "Spaces for Living" %}" width="64" height="64"  />
          <div class="v22-trades-head nova">{% chunk "space_live_title" %}</div>
          <div class="v22-trades-desc">{% chunk "space_live_desc" %}</div>

        <ul id="ps-4" class="v23-trades-stats nova">
            <li class="v23-trades-stats-perc">{{ dirs.food.percent }} %</li>
            <li class="v23-trades-stats-count">{{ dirs.food.count }}<br/>{% trans "projects" %}</li>
            <li class="v23-trades-stats-area">{{ dirs.food.meters|floatformat:-2 }}<br/>{% trans "sq.m." %}</li>
        </ul>
    </div>

    <div class="clear"></div>
</div>
<!-- END OF DIRECTIONS   -->
