{% load staticfiles i18n %}
<!-- START OF DIRECTIONS -->
<div id="v22-trades">
    <div id="v22-trades-work">
        <img src="{% static "img/site/work-inset-64.png" %}" title="{% trans "Office Spaces" %}" width="64" height="64"  />
        <div class="v22-trades-head nova">{% trans "Office Spaces" %}</div>
        <div class="v22-trades-desc">{% trans "Offices, Call Centers, Bank Branches, Creative Bureaus, Data Centers" %}</div>

        <ul id="ps-1" class="v23-trades-stats nova">
            <li class="v23-trades-stats-perc">49 %</li>
            <li class="v23-trades-stats-count">26<br/>{% trans "projects" %}</li>
            <li class="v23-trades-stats-area">42266<br/>{% trans "sq.m." %}</li>
        </ul>
    </div>

    <div id="v22-trades-shop">
        <img src="{% static "img/site/shop-inset-64.png" %}" title="{% trans "Retail Spaces" %}" width="64" height="64"  />

        <div class="v22-trades-head nova">{% trans "Retail Spaces" %}</div>
        <div class="v22-trades-desc">{% trans "Milti- and Single Brand Shops, Show Rooms" %}</div>

        <ul id="ps-2" class="v23-trades-stats nova">
            <li class="v23-trades-stats-perc">34 %</li>
            <li class="v23-trades-stats-count">18<br/>{% trans "projects" %}</li>
            <li class="v23-trades-stats-area">5536<br/>{% trans "sq.m." %}</li>
        </ul>
    </div>

    <div id="v22-trades-entr">
        <img src="{% static "img/site/entertainment-inset-64.png" %}" title="{% trans "Entertainment Spaces" %}" width="64" height="64"  />
        <div class="v22-trades-head nova">{% trans "Entertainment Spaces" %}</div>
        <div class="v22-trades-desc">{% trans "Restaurants, Cafes, Clubs, Galleries, Exhibitions" %}</div>

        <ul id="ps-3" class="v23-trades-stats nova">
            <li class="v23-trades-stats-perc">9 %</li>
            <li class="v23-trades-stats-count">5<br/>{% trans "projects" %}</li>
            <li class="v23-trades-stats-area">2605<br/>{% trans "sq.m." %}</li>
        </ul>
    </div>

    <div id="v22-trades-home">
        <img src="{% static "img/site/home-inset-64.png" %}" title="{% trans "Spaces for Living" %}" width="64" height="64"  />
          <div class="v22-trades-head nova">{% trans "Spaces for Living" %}</div>
          <div class="v22-trades-desc">{% trans "Apartments, Houses, Hotels" %}</div>

        <ul id="ps-4" class="v23-trades-stats nova">
            <li class="v23-trades-stats-perc">8 %</li>
            <li class="v23-trades-stats-count">4<br/>{% trans "projects" %}</li>
            <li class="v23-trades-stats-area">2440<br/>{% trans "sq.m." %}</li>
        </ul>
    </div>

    <div class="clear"></div>
</div>
<!-- END OF DIRECTIONS   -->
