{% load i18n %}
{% load chunks %}
<!-- START OF DIRECTIONS -->
<div id="v22-trades">
    {% with work=dirs.work shop=dirs.shop ent=dirs.ent home=dirs.home %}
    {% include "frontend/inc/direction_item.html" with type="work" icon="inset_64_work" title="space_office_title" desc="space_office_desc" percent=work.percent count=work.count meters=work.meters  index="1" %}
    {% include "frontend/inc/direction_item.html" with type="shop" icon="inset_64_shop" title="space_retail_title" desc="space_retail_desc" percent=shop.percent count=shop.count meters=shop.meters index="2" %}
    {% include "frontend/inc/direction_item.html" with type="ent" icon="inset_64_ent" title="space_ent_title" desc="space_ent_desc" percent=ent.percent count=ent.count meters=ent.meters index="3" %}
    {% include "frontend/inc/direction_item.html" with type="home" icon="inset_64_home" title="space_live_title" desc="space_live_desc" percent=home.percent count=home.count meters=home.meters index="4" %}
    {% endwith %}
    <div class="clear"></div>
</div>
<!-- END OF DIRECTIONS   -->
