{% load i18n %}
{% load staticfiles %}
<div id="ultra-header">
    <div id="name-wrap">
        <a href="/ru/projects/index">
            <div id="site-name-{{ request.session.django_language }}"
                 title="{% trans "Andrey Gavrilov and Co." %}">
            </div>
        </a>
        <div id="short-desc-wrap">
            {% trans "Interior Architects & Engineers" %}
        </div>
        <div id="what-i-do">
            {% trans "We design interior spaces &mdash; for work, for leasure and for living &mdash; with focus on Speed and Creativity." %}
        </div>
    </div>
    <div class="clear"></div>
</div>
