<div id="ultra-header">
    <div id="name-wrap">
        <a href="/ru/projects/index">
            <div id="site-name-ru" style="background: url('/files/site/AG-big-bg-03_01.png')">Андрей Гаврилов и коллеги</div>
        </a>
        <div id="short-desc-wrap">
            Архитектурное и инженерное проектирование интерьеров
        </div>
        <div id="what-i-do">
            Мы проектируем интерьеры &mdash; для работы, для отдыха и для жизни.
        </div>
    </div>
    <div class="clear"></div>
</div>
