{% load i18n %}
{% load staticfiles %}
{% load chunks %}
<div id="ultra-header">
    <div id="name-wrap">
        <a href="{% url frontend:index %}">
            <div id="site-name"
                 title="{% trans "Andrey Gavrilov and Co." %}"
                 style="background: url({% if "ru" == LANGUAGE_CODE|lower|slice:":2" %}{% chunk_imgurl "site_name_ru" %}{% else %}{% chunk_imgurl "site_name_en" %}{% endif %}) no-repeat 0 0;">
            </div>
        </a>
        <div id="short-desc-wrap">{% chunk "short_desc" %}</div>
        <div id="what-i-do">{% chunk "what_i_do" %}</div>
    </div>
    <div class="clear"></div>
</div>
