{% load i18n %}
{% load markitup_tags %}
<!-- 04 - PROJECTS START -->
<div class="section-04-wrap ptserif">
    <h1>
        <div class="section-04-name nova">{% trans "Projects" %}</div>
    </h1>

    <div class="projects-year-wrap">
        {% for item in projects %}
        <div class="project-container ">
            <a href="{{ item.get_absolute_url }}" class="project-button">
                <p class="pt-office"
                {% if item.ptype == 1 %}
                  style="background-image: url('../static/img/site/work-emboss-32.png')"
                {% elif item.ptype == 2 %}
                  style="background-image: url('../static/img/site/home-emboss-32.png')"
                {% elif item.ptype == 3 %}
                  style="background-image: url('../static/img/site/shop-emboss-32.png')"
                {% elif item.ptype == 4 %}
                  style="background-image: url('../static/img/site/entertainment-emboss-32.png')"
                {% else %}
                {% endif %}
                >{{ item.short_name|safe }}</p>
                {% if user.is_authenticated %}
                    {% if item.status == 3 %}
                        <em class="icon-lost"></em>
                    {% elif item.status == 2 %}
                        {% if item.is_finished %}
                            <em class="icon-finished"></em>
                        {% else %}
                            <em class="icon-inprogress"></em>
                        {% endif %}
                    {% elif item.status == 1 %}
                        <em class="icon-wait"></em>
                    {% endif %}
                {% endif %}
            </a>
            <div class="v22-project-pum-wrap">
                <div class="pum-header"></div>
                <div class="pum-secure">
                    <div class="pum-clo">
                        <p class="ptserif pum-clo-cn">
                            {% if user.is_authenticated %}
                            <a href="{% url admin:storage_customer_change item.customer.pk %}">{{ item.customer.short_name }}</a>
                            {% else %}
                            {{ item.customer.short_name }}
                            {% endif %}
                        </p>
                        {% if user.is_authenticated %}
                        <p class="nova pum-clo-at">
                            {{ item.customer.get_customer_type_display|slice:":3" }}
                        </p>
                        {% endif %}
                    </div>
                    <div class="pum-logo">
                        {% if item.customer.logo %}
                        <a href="{{ item.customer.url }}"><img src="{{ item.customer.logo.url }}" /></a>
                        {% endif %}
                    </div>
                    <hr class="clear"/>
                    <div class="pum-data-pnum nova">{{ item.code }}</div>
                    <div class="pum-data ptserif">{{ item.long_name }}</div>
                    {% if item.address %}
                    <div class="pum-data ptserif">
                        <a href="http://maps.yandex.ru?text={{ item.address }}" target="_new">{{ item.address }}</a>
                        </div>
                    {% endif %}
                    <hr/>
                    {% include "frontend/inc/pum_status.html" with user=user project=item %}

                    {% if user.is_authenticated %}
                    <div class="pum-2action">
                        <a class="pum2a-edit" href="{% url admin:storage_project_change item.pk %}"></a>
                    </div>
                    {% endif %}

                    <div class="pum-action"><a class="pum-project-open" href="{{ item.get_absolute_url }}"></a></div>
                </div>
                <div class="pum-footer"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="clear"></div>
</div>
<!-- 04 - PROJECTS END -->
