{% load i18n %}
<!-- START OF STATS -->
<div class="section-box-dark">
    <h1 class="nova">{% trans "Project's Statistic" %}</h1>
    <div class="stats-wrap">
        <ul class="stats">
            {% if user.is_authenticated %}
            <li>&nbsp;</li>
            <li>{% trans "Creation Date" %}<em>{{ project.created }}</em></li>
            <li>{% trans "Start Date" %}<em>{{ project.begin }}</em></li> 
            <li>{% trans "End Date" %}<em>{{ project.end }}</em></li>
            {% endif %}

            <li>&nbsp;</li>
            <li>{% trans "Year" %}<em>{{ project.begin|date:"Y" }}</em></li>
            <li>{% trans "Location" %}
                <em>
                    <a href="http://maps.yandex.ru?text={{ project.address }}" target="_new">{{ project.address }}</a>
                </em>
            </li>
            <li>{% trans "Size" %}<em>{{ project.object_square|floatformat:0 }} {% trans "sq.m." %}</em></li>

            <li>&nbsp;</li>
            {% for role, users in roles.items %}
                <li>{{ role }}<em>
                {% for user in users %}
                    {% if user %}
                        {{ user }}{% if not forloop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
                </em></li>
            {% endfor %}

            {% if user.is_authenticated %}
            <li>&nbsp;</li>
            <li>{% trans "Full Price" %}:<em>{{ project.price_full|floatformat:-2 }} &#8374;</em></li>
            <li>{% trans "Price to Square" %}:<em>{{ project.price_meter|floatformat:-2 }} &#8374;/m<sup>2</sup></em></li>
            <li>{% trans "Time Used" %}:<em>{{ project.duration_full }} {% trans "hours" %}</em></li>
            <li>{% trans "Production Time to Total Time" %}:<em>{{ project.production_percent|floatformat:-2 }}%</em></li>
            <li>{% trans "Work Speed" %}:<em>{{ project.meters_per_hour|floatformat:-2 }} m<sup>2</sup>/h</em></li>
            <li>{% trans "Project Speed" %}:<em>{{ project.speed|floatformat:-2 }} m<sup>2</sup>/d</em></li>
            {% endif %}
        </ul>
        <div class="clear"></div>
    </div>
</div>
<!-- END OF STATS -->
