{% load i18n %}
<!-- START OF STATS -->
<div class="section-box-dark">
    <h1 class="nova">{% trans "Project's Statistic" %}</h1>
    <div class="stats-wrap">
        <ul class="stats">
            {% if user.is_authenticated %}
            <li>&nbsp;</li>
            <li><i>{% trans "Creation Date" %}</i><em>{{ project.created }}</em></li>
            <li><i>{% trans "Start Date" %}</i><em>{{ project.begin }}</em></li>
            <li><i>{% trans "End Date" %}</i><em>{{ project.end }}</em></li>
            {% endif %}

            <li>&nbsp;</li>
            <li><i>{% trans "Year" %}</i><em>{{ project.begin|date:"Y" }}</em></li>
            <li><i>{% trans "Location" %}</i>
                <em>
                    <a href="http://maps.yandex.ru?text={{ project.address }}" target="_new">{{ project.address }}</a>
                </em>
            </li>
            <li><i>{% trans "Size" %}</i><em>{{ project.object_square|floatformat:0 }} {% trans "sq.m." %}</em></li>

            <li>&nbsp;</li>
            {% for role, membership in roles.items %}
                {% for item in membership %}
                    {% if item %}
                        <li>
                            <i>{% if forloop.first %}{{ role }}{% endif %}</i>
                            {% if item.staff.url %}<a href="{{ item.staff.url }}">{% endif %}
                            <em>{{ item.staff }}</em>
                            {% if item.staff.url %}</a>{% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if user.is_authenticated %}
            <li>&nbsp;</li>
            <li><i>{% trans "Full Price" %}:</i><em>{{ project.price_full|floatformat:-2 }}
                {% if project.currency == 1 %}&#8374;{% else %}${% endif %}</em></li>
            <li>{% trans "Price to Square" %}:<em>{{ project.price_meter|floatformat:-2 }}
                {% if project.currency == 1 %}&#8374;{% else %}${% endif %}/m<sup>2</sup></em></li>
            <li><i>{% trans "Time Used" %}:</i><em>{{ project.duration_full }} {% trans "hours" %}</em></li>
            <li><i>{% trans "Production Time to Total Time" %}:</i><em>{{ project.production_percent|floatformat:-2 }}%</em></li>
            <li><i>{% trans "Work Speed" %}:</i><em>{{ project.meters_per_hour|floatformat:-2 }} m<sup>2</sup>/h</em></li>
            <li><i>{% trans "Project Speed" %}:</i><em>{{ project.speed|floatformat:-2 }} m<sup>2</sup>/d</em></li>
            {% endif %}
        </ul>
        <div class="clear"></div>
    </div>
</div>
<!-- END OF STATS -->
