{% load i18n %}
{% load staticfiles %}
{% if user.is_authenticated %}
<div class="pum-status">
    {% if project.is_public %}
        <img src="{% static "img/site/PUM-PS-public.png" %}"
             title="{% trans "Public" %}"/>
    {% else %}
        <img src="{% static "img/site/PUM-PS-hidden.png" %}"
             title="{% trans "Hidden" %}"/>
    {% endif %}

    {% if project.is_archived %}
        <img src="{% static "img/site/PUM-PS-arch.png" %}"
             title="{% trans "Archived" %}"/>
    {% else %}
        <img src="{% static "img/site/PUM-PS-nonarch.png" %}"
             title="{% trans "Active" %}">
    {% endif %}

    {% if project.in_stats %}
        <img src="{% static "img/site/PUM-PS-stats.png" %}"
             title="{% trans "In statistics" %}"/>
    {% else %}
        <img src="{% static "img/site/PUM-PS-nostats.png" %}"
             title="{% trans "Not in statistics" %}"/>
    {% endif %}
</div>
{% endif %}
