{% load thumbnail i18n %}
<!-- START OF RECENT PROJECTS-->
<div id="v22-recent-project-section">
    <h1 class="nova header-01">{% trans "In Progress/Just Finished" %}</h1>
    <ul id="recent-projects">
        {% for item in teasers %}
        <li>
            <a href="{{ item.project.get_absolute_url }}">
                <div>
                    <img class="fade" width="300" height="200"
                        src="{{ item.project.teaser.image|thumbnail_url:'pro6_gray' }}"
                        style="background: url({{ item.project.teaser.image|thumbnail_url:'pro6' }});"
                        />
                    <div class="recent-desc">
                        <p>{{ item.project.short_name }}</p>
                        <em>&raquo;</em>
                        <span>{{ item.project.short_name }}</span>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('div.recent-desc').each( function(){
        var original_text = $(this).find("p").html();
        var obj_width = 249;
        var obj = $(this);
        var done = false;

        $(this).find("span").each( function(){
            if( done ){
                return;
            }

            obj.find("p").html( $(this).html() );
            if( obj.find("p").width() <= obj_width){
                done = true;
                return;
            }
        });

        if( !done ){
            $(this).find("p").html( original_text );
        }
    });
});
</script>
<!-- END OF RECENT PROJECTS-->
