<!-- START OF SOLUTIONS-->
<div id="v22-tools-wrap">
    <h1 class="nova">Виды работ</h1>
    <div id="v22-tools-cont">
        <div id="tools-nav-wrap-02">
            {% for job in all_job_types %}
            <div id="{{ job.css }}" class="tool-slider-wrap tsw-{% if job in project.job_type.all %}on{% else %}off{% endif %}">
                <div class="tool-slider-button"></div>
                <div class="tool-slider-text nova">{{ job.short_title }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- END OF SOLUTIONS-->
