{% load i18n %}
{% load markitup_tags %}
<!-- START OF TEASER -->
<div id="top-teaser" class="nova">
    <ul>
        {% for item in teasers %}
        <li>
            <div class="TT-text-container">
                <div class="TT-link">
                    <a href="{{ item.project.get_absolute_url }}">{% trans "Explore Project" %}&nbsp;&rsaquo;</a>
                </div>
                <div class="TT-description">{{ item.project.desc_short|render_markup|safe }}</div>
            </div>

            <div class="TT-img-container">
                <img src="{{ item.project.teaser.image.url }}" title="{{ item.project.short_name }}" width="630" height="420" />
            </div>
            <div class="clear"></div>
        </li>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('div#top-teaser ul').cycle({ fx:'fade', pause: 0, speed: 3457, timeout: 6299});
});
</script>
<!-- END OF TEASER -->
