{% extends "admin/base_site.html" %}

{% load adminmedia %}
{% load i18n %}
{% load static %}
{% load url from future %}
{% load phases %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery-1.7.2.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    /*
     * Logic is simple. First, hide all total lines. Then assign click handlers.
     * Handler toggles the state of particalar set of lines and total line.
     */
    $('tr[class^=total]').hide();
    $('a.toggle_handler').each(function(index) {
        $(this).click(function() {
            var pk = $(this).data('pk');
            if ($(this).hasClass('ui-icon-circle-minus')) {
                $(this).removeClass('ui-icon-circle-minus').addClass('ui-icon-circle-plus');
                $('tr.collapsable_' + pk).toggle('slow');
                $('tr.total_' + pk).toggle('slow');
            } else {
                $(this).removeClass('ui-icon-circle-plus').addClass('ui-icon-circle-minus');
                $('tr.total_' + pk).toggle('slow');
                $('tr.collapsable_' + pk).toggle('slow');
            }
        })
    })
});
</script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
<link rel="stylesheet" href="{% static "admin_tools/css/dashboard.css" %}" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{% static "custom_admin/css/style.css" %}" type="text/css" media="screen"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url 'admin:app_list' "phases" %}">{% trans "Phases" context "breadcrumbs" %}</a> &rsaquo;
    {% trans "Cost Card" %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module filtered" id="changelist">
        <div id="changelist-filter">
            <h2>{% trans "Info" %}</h2>
            <h3>{% trans "Taxes" %}</h3>
            <ul>
                {% for tax in taxes %}
                <li>
                    <span class="title">{{ tax.title }}:</span>
                    <span class="value">{{ tax.value }}</span>
                </li>
                {% endfor %}
            </ul>
            <h3>{% trans "Coefficients" %}</h3>
            <ul>
                {% for co in coeffs %}
                <li>
                    <span class="title">{{ co.title }}:</span>
                    <span class="value">{{ co.value }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="results">
        <table id="result_list">
        {% for phase in phases %}
            {% phase_area phase %}
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
