{% extends "admin/base_site.html" %}

{% load adminmedia %}
{% load i18n %}
{% load static %}
{% load url from future %}
{% load phases %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery-1.7.2.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    /*
     * Logic is simple. First, hide all total lines. Then assign click handlers.
     * Handler toggles the state of particalar set of lines and total line.
     */
    $('tr[class^=total]').hide();
    $('a.toggle_handler').each(function(index) {
        $(this).click(function() {
            var pk = $(this).data('pk');
            $('tr.collapsable_' + pk).toggle('slow');
            $('tr.total_' + pk).toggle('slow');
            if ($(this).html() == '-')
                $(this).html('+');
            else
                $(this).html('-');
        })
    })
});
</script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "admin_tools/css/dashboard.css" %}" type="text/css" media="screen, projection"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url 'admin:app_list' "phases" %}">{% trans "Phases" context "breadcrumbs" %}</a> &rsaquo;
    {% trans "Cost Card" %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <table>
    {% for phase in phases %}
        {% phase_area phase %}
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block sidebar %}
<!-- sidebar -->
{% endblock %}
