{% load i18n %}
<tr>
    <th><a href="#" title="{% trans "Collapse" %}" data-pk="{{ pk }}" class="toggle_handler ui-icon ui-icon-circle-minus"></a></th>
    <th>{{ title }}</th>
    {% for header in headers %}<th>{{ header }}</th>{% endfor %}
</tr>
{% for step in steps %}
<tr class="collapsable_{{ pk }}">
    <td>&nbsp;</td>
    {% for field, align, type in step %}
    <td style="text-align: {{ align }};">
        {% if type == 'float' %}{{ field|floatformat:"2" }}{% else %}{{ field }}{% endif %}
    </td>
    {% endfor %}
</tr>
{% endfor %}
<tr class="total_{{ pk }}">
    <td>&nbsp;</td>
    {% for field, align, type in total %}
    <td style="text-align: {{ align }};">
        {% if type == 'float' %}{{ field|floatformat:"2" }}{% else %}{{ field }}{% endif %}
    </td>
    {% endfor %}
</tr>
