#browser-warning {
    display: none;
    padding: 1em;
    text-align: center;
    background-color: #FFDAD9;
    border: 2px solid #FF0700;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    margin-bottom: 1em;
}

#upload-box {
    height: 150px;
    margin: 0 auto 1em;
    color: #514721;
    border: 0.2em solid #FFD324;
    background-color: #FEFFEC;
    text-align: center;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
}

#upload-status-text {
    font-size: 150%;
    padding-top: 1.5em;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#upload-details {
    color: #666666;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#upload-status-progressbar {
    height: 16px;
    margin: 1em 1em;

    /* workaround a jquery ui bug in how the progress bar displays empty */
    padding: 0 1px;
    display: none;
}

#drop-box-overlay {
    position: relative;
    margin: 1px;
    padding: 0;
    background-color: #222222;
    display: none;

    z-index: 50;
    opacity: 0.9;
}

#drop-box-overlay h1 {
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 2em;

    border: 2px solid #679B00;
    background-color: #C9F76F;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;

    color: #222222;
    font-size: 150%;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#upload-header {
    display: none;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #DDDDDD;
}

#upload-header #upload-title {
    font-size: 200%;
    text-shadow: 1px 1px 1px #CCCCCC;
}

#upload-header #upload-count {
    float: right;
    font-size: 110%;
    padding-top: 0.75em;
    text-shadow: 1px 1px 1px #CCCCCC;
}

#uploader-left-column {
    float: left; width:400px;

}

#uploader-right-column {
    margin-left: 400px;
}

.patch-margins {
    margin: 2px;
}

.frame_list .container {
    backgroung-color: #ddd;
    overflow: auto;
    height: 300px;
    width: 100%;
}

.frame {
    position: relative;
    float: left;
    margin: 4px;
    width: 180px;
}

.frame img {
    width: 180px; height: 135px;
    border: 1px solid black;
}

.frame .header {
    position: absolute;
    top: 0px; left: 1px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: white;
    background-color: black;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=7);
}

.frame .footer {
    position: absolute;
    bottom: 4px; left: 1px;
    width: 100%;
    color: white;
    background-color: black;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=7);
}

.frame .relation {
    float: left; width: 65%;
    white-space: nowrap;
    overflow: hidden;
}

.frame .size {
    margin-left: 65%;
    width: 34%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

.clear-left {
    clear: left;
}
