{% load staticfiles %}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{% static "jqplot/excanvas.js" %}"></script><![endif]-->
<script language="javascript" type="text/javascript" src="{% static "jqplot/jquery.min.js" %}"></script>
<script language="javascript" type="text/javascript" src="{% static "jqplot/jquery.jqplot.js" %}"></script>
<script language="javascript" type="text/javascript" src="{% static "jqplot/plugins/jqplot.dateAxisRenderer.js" %}"></script>
<script language="javascript" type="text/javascript" src="{% static "jqplot/plugins/jqplot.pointLabels.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "jqplot/jquery.jqplot.css" %}" />

<div id="chartdiv" style="height:400px;width:960px; "></div>

<script language="javascript" type="text/javascript">
$(document).ready(function(){
  var line1=[{{ graph_data|safe }}];
  var plot1 = $.jqplot('chartdiv', [line1], {
    title:'Balance',
    seriesDefaults: {
        showMarker:true,
        pointLabels: {
          show: true,
          edgeTolerance: 5
        }},
    series: [{lineWidth:4, markerOptions:{style:'square'}}],
    axes: {
        xaxis: {
            renderer:$.jqplot.DateAxisRenderer,
            tickOptions:{formatString:'%b %#d, %y'},
            min:'Nov 1, 2011',
            tickInterval:'1 month'
        }
    }
  });
});
</script>
